[submodule "libraries/glm"]
    path = libraries/glm
    url = https://github.com/g-truc/glm.git
[submodule "libraries/sol2"]
    path = libraries/sol2
    url = https://github.com/ThePhD/sol2.git
[submodule "libraries/imgui/imgui"]
    path = libraries/imgui/imgui
    url = https://github.com/ocornut/imgui.git
[submodule "libraries/imgui/imguizmo"]
    path = libraries/imgui/imguizmo
    url = https://github.com/CedricGuillemet/ImGuizmo.git
[submodule "libraries/imgui/imnodes"]
    path = libraries/imgui/imnodes
    url = https://github.com/Nelarius/imnodes.git
[submodule "libraries/imgui/implot"]
    path = libraries/imgui/implot
    url = https://github.com/epezent/implot.git
[submodule "libraries/entt"]
    path = libraries/entt
    url = https://github.com/skypjack/entt
